<a href="{{ .Permalink }}" itemprop="url" class="content">
  {{ partial "publications/item/press" . }}
  {{ partial "publications/item/metas" . }}
  {{ partial "commons/item/title" . }}
  {{ $publications_persons := "publications/item/publications_persons.html" }}
  {{ if templates.Exists ( printf "partials/%s" $publications_persons ) }}
    {{ partial $publications_persons . }}
  {{ end }}
  <!-- LEGACY -->
  {{ $publications_concerned := "publications/item/publications_concerned.html" }}
  {{ if templates.Exists ( printf "partials/%s" $publications_concerned ) }}
    {{ partial $publications_concerned . }}
  {{ end }}
  <!-- / LEGACY -->
</a>